body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 24px;
}
.nav-link {
  text-decoration: none;
  color:#bf7506;
  font-size: 16px;
  line-height: 150%;
}
.nav-link.active{
  font-weight: 700;
}
.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}
.header {
  padding: 70px 0;
  display: flex;
  align-items: center;
}
.header-text {
  margin-left: 27px;
}
.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #211b12;
}
.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211b12;
  margin-top: 8px;
  margin-bottom: 24px;
  
}
.header-primary {
  color: #bf7506;
}
.social-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-link {
  display: inline-block;
  padding: 8px;
}
.header-links {
  display: flex;
  align-items: center;
}
.cv-download {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-left: 55px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid #bf7506;
}
.cv-icon {
  margin-right: 4px;
}