* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 24px;
}
.nav-link {
  text-decoration: none;
  color:#bf7506;
  font-size: 16px;
  line-height: 150%;
}
.nav-link.active{
  font-weight: 700;
}
.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}
.header {
  padding: 70px 0;
  display: flex;
  align-items: center;
}
.header-text {
  margin-left: 27px;
}
.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #211b12;
}
.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211b12;
  margin-top: 8px;
  margin-bottom: 24px;
  
}
.header-primary {
  color: #bf7506;
}
.social-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-link {
  display: inline-block;
  padding: 8px;
}
.header-links {
  display: flex;
  align-items: center;
}
.cv-download {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-left: 55px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid #bf7506;
}
.cv-icon {
  margin-right: 4px;
}
.section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;;
}
.card {
  max-width: 400px;
  margin-bottom: 40px;
}
.card-text-wrapper {
  padding: 16px;
}
.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #bf7506;
  margin-top: 16px;
  margin-bottom: 8px;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color:#211b12;
}
.tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.tag {
  display: inline-block;
  padding: 5px 8px 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #211b12;
  text-decoration: none;
  background: #fff;
  border: 1px solid #dd9c3c;;
  border-radius: 4px;
  margin-right: 4px;
}
.card-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}
.card-button {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  gap: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid  #bf7506;
}
.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.developer {
  padding: 80px 0 40px;
  display: flex;
  align-items: center;
  gap: 55px;
}
.developer-photo {
  width: 360px;
  height: 440px;
  flex-shrink: 0;
  object-fit: cover;
 border-radius: 20px;
}
.developer-hello {
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211b12;
}
.developer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
  margin-top: 4px;
  margin-bottom: 16px;
}
.developer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
}
.motto {
  margin: 16px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #dd9c3c;
}
.developer-sign {
  max-width: 200px;
}
.skills {
  padding: 20px 0;
}
.skills-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211b12;
}
.feedback {
 padding: 80px 0 160px;
}
.input-group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 24px;
}
.input-label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color:#83807c;
  padding: 0 8px;
  background: #fff;
  top: 0;
  left: 16px;
}
.input {
  border: 3px solid #e0dedc;;
  border-radius: 4px;
  width: 435px;
  height: 56px;
}
.textarea {
  min-height: 140px;
}
.form-container {
  max-width: 435px;
  margin: auto;
}
.submit-button {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  background-color: #fff;
  border:none;
  border-bottom: 2px solid #bf7506;
  cursor: pointer;
}
.button-group {
  display: flex;
  justify-content:flex-end;
}